@model Passport.Web.Models.LoginSuccessVM
@{
    Layout = null;
    ViewBag.Title = "Login Success";
}

<h2>Waiting...</h2>
<script>
    setTimeout(function () {
        top.location.href = "http://www.client.com/Pass?Token=@HttpUtility.UrlEncode(Model.Token)&ReturnUrl=@HttpUtility.UrlEncode(Model.ReturnURL)";
    }, 1000);
</script>